GEMINI_API_KEY=your_api_key_here

# Database Connection (Postgres)
DATABASE_URL = "supabase url"

# JWT Authentication
SECRET_KEY = "xxxxxxxxxxxx"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 43200 # 30 days

# Supabase (Optional for Storage)
SUPABASE_URL=url
SUPABASE_ANON_KEY=publishable key
SUPABASE_API_KEY = secret key

# Mail Settings
MAIL_USERNAME=username
MAIL_PASSWORD="password"
MAIL_FROM=from_email@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME="Legal Risk Analyzer"
