fastapi
uvicorn
pydantic
python-dotenv
pdfplumber
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
alembic
python-multipart
fastapi-mail
pydantic-settings
supabase
slowapi
email-validator
bcrypt
requests